.navbar{
  padding-left: 10em;
  padding-right: 10em;
}

.navbar img{
  /* width: 40px; */
  height: 35px;
  padding: 0;
}


.cover{
  max-height: 520px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
  opacity: 0.9;
  display: block;
  margin: 0 auto;
  vertical-align: middle;
  object-position: center;
}

/* .text-block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.container{
  text-align: center;
}

main{
  padding: 45px;
}

.paragraph{
  text-align: left;
}

.title-area{
  text-align: center;
}

.btn{
  font-size: 15px;
  border-width: 2px;
}

form{
  text-align: left;
}

input::-webkit-input-placeholder {
  font-size: 14px;
}

textarea::-webkit-input-placeholder {
  font-size: 14px;
}

.footer{
  padding: 1.2rem ;
  background-color: rgb(30, 30, 30, 0.97);
  border-top: .05rem solid #e5e5e5;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
  color: white;
}

.footer ul{
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
}

.footer a{
  text-decoration: none !important;
  color: #999999;
}

.footer span{
  font-size: 40px;
  font-weight: bold;
}

.footer hr{
  border-color: #999999;
}

.footer ul{
  padding-left: 0;
}

.copyright{
  font-weight: normal;
  color: #999999;
}

.home{
  /* background-image: url("../img/home_cover.jpg") */
}

.how-skky-works{
  max-width: 720px;
  margin: auto;
  /* width: 100%; */
}

.box{
  display: inline-block;
}

.icon{
  margin: auto;
  padding: 5px 15% 5px 15%;
  /* display: inline-block; */
  /* width: 128px;
  height: 128px; */
}

.icon-left{
  float: left;
}

.icon-right{
  float: right;
}

h1, h2, h3{
  font-weight: normal;
}

h2{
  font-family: 'Lobster', cursive;
  font-size: 38px;
}

.contact a{
  text-decoration: none;
  color: #454545;
  font-size: 16px;
}

.contact i{
  color: #454545;
  font-size: 16px;
}

.navbar li{
  font-size: 14px;
  padding: 0 3px;
}

@media(max-width: 700px) {
  .navbar{
    padding-left: 5em;
    padding-right: 5em;
  }
}
